@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @media (orientation:portrait) and (max-width:768px) {
        .portrait-justify-center {
            justify-content: center;
        }

        .portrait-display-none {
            display: none;
        }

        .portrait-display-block {
            display: block;
        }

        .portrait-display-flex-col {
            flex-direction: column;
        }

        .portrait-display-flex {
            display: flex;
        }
    }

    @media (orientation:landscape) and (max-width:1024px) {
        .landscape-justify-space-between {
            justify-content: space-between;
        }

        .landscape-display-block {
            display: block;
        }

        .landscape-display-flex {
            display: flex;
        }

        .landscape-height-7 {
            height: 1.5rem;
        }
    }
}
